* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    ;

}

header {
    margin: 44px 0 0 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #989D9C;
    margin-right: 29px;
}

.button-header {
    width: 130px;
    height: 41px;
    border: none;
    border-radius: 30px;
    background: #665AE1;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    font-weight: 29.26px;
}

.image-mulher {

    margin-top: 8%;
    margin-left: 125px;
    position: relative;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 86px;


}

h1 {

    font-weight: 900;
    font-size: 100px;
    line-height: 121.9px;
    color: #515151;
}

h2 {

    font-weight: 500;
    font-size: 58px;
    line-height: 70.7px;
    color: #515151;
}

p {
    width: 515px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29.26px;
    color: #848484;
    margin-bottom: 65px;
    margin-top: 25px;

}

button {
    Width: 240px;
    height: 64px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34.13px;
    border-radius: 30px;
    border: none;
    background-color: #ADFF00;
    color: #000000;
    margin-top: 10px;
}

@media screen and (max-width:600px) {

    header {
        display: none;

    }

    main {
        display: inline-block;
    }

    .image-mulher {

        margin-top: 280px;
        margin-right: 90px;
        display: inline-block;

    }

    p {
        display: none;
    }


    h1 {
        margin-top: 24px;
        margin-left: 55px;
    }

    h2 {

        margin-left: 90px;
        margin-bottom: 20px;
    }

    button {
        width: 470px;
        height: 115px;
        font-weight: 700;
        font-size: 45px;
        line-height: 34.13px;
        margin-left: 14%;
        border-radius: 50px;
    }
}